<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">DOB</th>
            <th scope="col">Gender</th>
            <th scope="col">Class</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <th scope="row"></th>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.dob}}</td>
            <td>{{this.gender}}</td>
            <td>{{this.class}}</td>
            <td>{{this.role}}</td>
            <td>
                <a href="" s="btn btn-link">Edit</a>
                <a href="" class="btn btn-link">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>